h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    color: pink;
}
li, dt, dd {
    padding-left: 5%;
    font-family: 'Courier New', Courier, monospace;
    color: lightslategray;
}
body{
    background-color: azure;
    padding-left: 10%;
}
td, th{
    width: auto;
    border: 1px solid black;
}
table{
    width: 80%;
    font-size: 20px;
}
#finais{
    background-color: lightpink;
}
#ulA3{
    list-style-type:none;
}
#botao{
    border-radius: 25%;
}
#ex1a4{
    text-align: center;
}
#ex2a4{
    text-align: right;
}
#ex3a4{
    text-align: left;
}
#ex4a4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-style: normal;
    color:plum
}
#ex5a4{
    font-family: 'Times New Roman', Times, serif;
    font-size:8px;
    font-style: italic;
    color:aquamarine;
    background-color: yellow;

}
#blank{
    clear: both;
    visibility: hidden;
}